.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.hero{
  position: relative;
  width: 100%;
  height: 100vh;
  background: #eff4fd;
  margin: 0;
}

nav{
  display: flex;
  width: 84%;
  margin: auto;
  padding: 20px 0;
  align-items: center;
  justify-content: space-between;
}

nav ul li{
  display: inline;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a{
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

nav ul li a:hover{
  color: royalblue;

}

nav ul li b{
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

nav ul li b:hover{
  color: royalblue;

}

.detel{
  margin-left: 8%;
  margin-top: 5%;
}

.detel h1{
  font-size: 20px;
  color: #212121;
  margin-bottom: 20px;
}

.detel h2{
  font-size: 20px;
  color: #212121;
  margin-bottom: 200px;
}

.detel p{
  color: #555;
  line-height: 22px;
}

.detel a{
  background: #212121;
  padding: 10px 18px;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  display: inline-block
  margin 30px 0px;
  border-radius: 5px;
}

.detel ul li {
  padding-bottom: 20px; /* Add padding-bottom to create space inside list items */
}

.detel ul li {
  margin-bottom: 10px; /* Add margin-bottom to create space between list items */
}

.detel ul li:hover {
  background-color: #f0f0f0; /* Change background color on hover */
}



.images{
  width: 45;
  height: 60%;
  position: absolute;
  bottom: 0;
  right: 100px;
}


#footerheading{
  font-size: 16px;
  display: flex;
  flex: 1;
  justify-content: center;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  top: 850px;
  text-align: center;
  font-weight: 350;
}

#copyright{
  display: flex;
  flex: 1;
  position: absolute;
  justify-content:flex-start;
  top: 850px;
  left: 50;
  font-size: .7em;
}

#a{
 font-weight: bold; 

}

#b{
  font-weight: bold;
}

/*About*/

.about{
  position: relative;
  width: 100%;
  height: 100vh;
  background: #eff4fd;
  font-size: 20px;
  padding: 20px 0px;
  margin: 10px;

}




